<div class="container">
  <div class="header">
    <div class="am-g">
        <h1 class="index-title">FatUrl</h1>
        <p>基于beego开发的短网址转发系统</p>
    </div>
  </div>

  <div class="search-input">
    <div class="am-g">
      <div class="am-u-lg-6 am-u-md-8 am-u-sm-centered">
          <form class="am-form" role="form">
            <div class="am-input-group">
              <input type="url" class="am-form-field" placeholder="请输入转换的网址" id="search-input">
              <span class="am-input-group-btn">
                <button class="am-btn am-btn-secondary" type="button">转换网址</button>
              </span>
            </div>
          </form>
      </div>
    </div>
  </div>

  <div class="banner">
    <div class="am-g">
      <div class="am-u-lg-6 am-u-md-8 am-u-sm-centered">
        <div class="banner-ctr">
            <hr data-am-widget="divider" class="am-divider am-divider-default" />

        </div>
      </div>
    </div>
  </div>


</div>
